[Desktop Entry]
Type=Application
Name=PanelCleaner
Comment=An AI-powered tool to clean manga panels
GenericName=Manga Page Cleaner
Icon=panelcleaner
Exec=pcleaner-gui
Terminal=false
Categories=Utility;Graphics;
Keywords=Manga;Cleaning;Text Removal;OCR;
