opencv-python
Pillow
torch
torchvision
tqdm
numpy
scipy
pyclipper
shapely
natsort
python-magic
docopt-ng
ConfigUpdater
transformers
manga_ocr
logzero
prettytable
colorama
requests
xdg
PySide6
tifffile
attrs
dictdiffer
humanfriendly
PyYAML  # Only used for building the icon cache, not used at runtime, therefore excluded from the wheel.