opencv-python
Pillow
torch
torchvision
tqdm
numpy
scipy
pyclipper
shapely
natsort
python-magic; platform_system != "Windows"
python-magic-bin; platform_system == "Windows"
docopt-ng
ConfigUpdater
transformers
manga_ocr
loguru
prettytable
colorama
requests
xdg
PySide6
tifffile
attrs
dictdiffer
humanfriendly
PyYAML  # Only used for building the icon cache, not used at runtime, therefore excluded from the wheel.